<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">


<th:block th:fragment="table">

    <div class="card">
        <div class="card-header">
            <div class="d-flex bd-highlight">
                <h3 class="p-2 flex-grow-1 bd-highlight">Rest API</h3>
                <div class="p-2 bd-highlight">
                    <a href="/r/a" class="btn btn-sm btn-primary me-2">
                        Add
                    </a>
                </div>
            </div>
        </div>


        <div class="card-body">
            <table class="table align-middle table-row-dashed fs-6 gy-" id="rests">
            </table>
        </div>
    </div>


</th:block>


<th:block th:fragment="js">
    <script th:inline="javascript">
        const restApiUrl = "/r";
        let restTable;


        $('a[href="#Rest"]').one('click', function () {
            listRest()
        });


        // on load
        $(document).ready(function () {
            onInit();
        });


        function onInit() {
            $("#close_filter").hide();
            $('#ticketFormFilter').trigger("reset");
            listRest()
        }


        $(document).on('submit', '#filter', function (e) {
            let obj = JSON.parse(serialize_form(this));
            listRest(obj);
        });

        $(document).on("click", "#restForm", function (data) {
            let id = data.currentTarget.value;
            window.location.href = "/r/a?id=" + id;
        });

        $(document).on("click", "#restFormDuplicate", function (data) {
            let id = data.currentTarget.value;
            window.location.href = "/r/a?duplicate=true&id=" + id;
        });

        function listRest(filterObj) {
            restTable = $('table#rests')
                .DataTable({
                        processing: true,
                        serverSide: true,
                        ordering: false,
                        bDestroy: true,
                        searching: false,
                        responsive: true,
                        ajax: function (data, callback, settings) {

                            let params = {
                                size: data.length,
                                page: (data.start / data.length),
                                sort: 'updatedAt,desc'
                            }

                            params = {...params, ...filterObj};


                            // make a regular ajax request using data.start and data.length
                            $.get(restApiUrl, params, function (res) {
                                // map your server's response to the DataTables format and pass it to
                                // DataTables' callback
                                callback({
                                    recordsTotal: res.data.totalElements,
                                    recordsFiltered: res.data.totalElements,
                                    data: res.data.content
                                });
                            });
                        },

                        columns: [
                            {
                                title: '#',
                                data: "id",
                                orderable: false, targets: -1,
                                render: function (data, type, row, meta) {
                                    return meta.row + meta.settings._iDisplayStart + 1;
                                }
                            },
                            {
                                title: 'Name',
                                data: "name"
                            },
                            {
                                title: 'URI',
                                data: "uri",
                                render: function (data, type, row, meta) {

                                    return row.method +' <a  href="' + row.uri + '" target="_blank">  ' + row.uri + '</a>'

                                    // return row.method + ' ' + row.uri;
                                }
                            },
                            {
                                title: 'Request Params',
                                data: "requestParams",
                                render: function (data, type, row, meta) {
                                    return '<pre>' + JSON.stringify(row.requestBody, undefined, 4) + '</pre>'
                                }
                            },
                            {
                                title: 'Request Body',
                                data: "requestBody",
                                render: function (data, type, row, meta) {
                                    return '<pre>' + JSON.stringify(row.requestBody, undefined, 4) + '</pre>'
                                }
                            },
                            {
                                title: "Action",
                                data: "id",
                                orderable: false, targets: -1,
                                render: function (data, type, row) {
                                    return '<button class="btn btn-sm btn-primary me-2" id="restForm" value="' + data + '" onclick="return false;"><i class="bi bi-pencil-fill"></i></button>' +
                                        '<button class="btn btn-sm btn-primary me-2" id="restFormDuplicate" value="' + data + '" onclick="return false;"><i class="bi bi-clipboard"></i></i></button>'
                                }
                            }
                        ],
                    },
                );
        }
    </script>
</th:block>

</html>