<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">


<th:block th:fragment="table">

    <div class="card">
        <div class="card-header">
            <div class="d-flex bd-highlight">
                <h3 class="p-2 flex-grow-1 bd-highlight">Logs</h3>
            </div>
        </div>


        <div class="card-body">
            <table class="table align-middle table-row-dashed fs-6 gy-" id="logs">
            </table>
        </div>
    </div>


</th:block>


<th:block th:fragment="js">
    <script th:inline="javascript">
        const logsApiUrl = "/l";
        let logsTable;

        $('a[href="#Logs"]').one('click', function () {
            console.log("tab logs")
                listLogs()
        });


        // on load
        $(document).ready(function () {
            onInit();
            console.log("logs")
        });


        function onInit() {
            listLogs()
        }


        $(document).on('submit', '#filter', function (e) {
            let obj = JSON.parse(serialize_form(this));
            listRest(obj);
        });


        function listLogs(filterObj) {
            logsTable = $('table#logs')
                .DataTable({
                        processing: true,
                        serverSide: true,
                        ordering: false,
                        bDestroy: true,
                        searching: false,
                        ajax: function (data, callback, settings) {

                            let params = {
                                size: data.length,
                                page: (data.start / data.length),
                                sort: 'createdAt,desc'
                            }

                            params = {...params, ...filterObj};


                            // make a regular ajax request using data.start and data.length
                            $.get(logsApiUrl, params, function (res) {
                                // map your server's response to the DataTables format and pass it to
                                // DataTables' callback
                                callback({
                                    recordsTotal: res.data.totalElements,
                                    recordsFiltered: res.data.totalElements,
                                    data: res.data.content
                                });
                            });
                        },

                        columns: [
                            {
                                title: '#',
                                data: "id",
                                orderable: false, targets: -1,
                                render: function (data, type, row, meta) {
                                    return meta.row + meta.settings._iDisplayStart + 1;
                                }
                            },
                            {
                                title: 'Created At',
                                data: "uri",
                                render: function (data, type, row, meta) {
                                    const date = new Date(row.createdAt);
                                    return date.toLocaleDateString() + ', ' + date.toLocaleTimeString()
                                }
                            },
                            {
                                title: 'Response Code',
                                data: "responseCode"
                            },
                            {
                                title: 'URI',
                                data: "uri",
                                render: function (data, type, row, meta) {
                                    return row.method + ' ' + row.uri;
                                }
                            },
                            {
                                title: 'Headers',
                                data: "headers",
                                render: function (data, type, row, meta) {
                                    return JSON.stringify(row.headers);
                                }
                            },
                            {
                                title: 'Params',
                                data: "params",
                                render: function (data, type, row, meta) {
                                    return JSON.stringify(row.params);
                                }
                            },
                            {
                                title: 'Body',
                                data: "body",
                                render: function (data, type, row, meta) {
                                    return JSON.stringify(row.body);
                                }
                            },
                            {
                                title: "Action",
                                data: "id",
                                orderable: false, targets: -1,
                                render: function (data, type, row) {
                                    return '<button class="btn btn-sm btn-primary me-2" id="restForm" value="' + data + '" onclick="return false;"><i class="bi bi-pencil-fill"></i></button>'
                                }
                            }
                        ],
                    },
                );
        }
    </script>
</th:block>

</html>